.Meal {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  min-width: 960px;
  padding: 5px 0;
}

.Cols {
  flex: 1;
  min-width: 137px;
  align-self: center;
}

.EmptyMeal {
  max-height: 120px;
  max-width: 120px;
  margin: auto;
}

.SvgMeal {
  width: 100%;
  height: auto;
}
