.Planner {
  width: 100%;
}

.RowWrapper {
  display: flex;
  flex-direction: row;
}

.Row {
  display: flex;
  width: 100%;
}

.Name {
  min-width: 60px;
  width: 60px;
  position: relative;
  padding: 8px 0 8px 8px;
  text-align: center;
  margin: auto;
}

.Description {
  text-orientation: sideways-right;
  writing-mode: vertical-lr;
  text-transform: uppercase;
  transform: rotate(180deg);
}
